<!DOCTYPE html>
<html lang="en">

<head>
    <link rel="stylesheet" href="style.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">




    <nav class="navbar bg-dark  navbar-dark sticky-top" id="nv">

        <ul class="navbar mr-auto">

        <a class="nav-link"> DQnte MALAPPURAM </a>
        <a class="nav-link" href="/"> Home </a>
        <a class="nav-link" href="/gallery"> DQ Gallery </a>
        <a class="nav-link" href="/movies"> DQ Movies</a>
</ul>
    </nav>

</head>
<body>
    {{{body}}}
</body>