<!DOCTYPE html>
<html lang="en">

<head>
    <link rel="stylesheet" href="/static/style.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">

</head>

<body>
    

<nav class="nav nav-tabs sticky-top bg-dark nav-stacked">
    <a style="color:gold" class="nav-link disabled" href="#">DQnte Malappuram</a>
    <a style="color:white" class="nav-link" href="/">Home</a>
    <a style="color:white" class="nav-link" href="/gallery">DQ Gallery</a>
    <a style="color:white" class="nav-link" href="/movies">DQ Movies</a>
</nav>



    <div class="container-fluid">

        <br>

        <div class="card bg-danger" id="card1">
            <br>
            Welcome to DQnte MALAPPURAM
            <br>
            <br>
        </div>
        <br>



        <div id="demo" class="carousel slide" data-ride="carousel">


            <ul class="carousel-indicators">
                <li data-slide-to="0" class="active"></li>
                <li data-slide-to="1"></li>
                <li data-slide-to="2"></li>
            </ul>


            <div class="carousel-inner">
                <div class="carousel-item active">
                    <img src="/static/30k.jpg" alt="" class="img-fluid">
                </div>
                <div class="carousel-item">
                        <img src="/static/suc.jpg" alt="" class="img-fluid">
                    
                </div>
                <div class="carousel-item">
                    <img src="/static/kum.jpg" alt="" class="img-fluid">
                </div>
                <div class="carousel-item">
                        <img src="/static/poster.jpg" alt="" class="img-fluid">
                </div>
            </div>


            <a class="carousel-control-prev" href="#demo" data-slide="prev">
                <span class="carousel-control-prev-icon"></span>
            </a>
            <a class="carousel-control-next" href="#demo" data-slide="next">
                <span class="carousel-control-next-icon"></span>
            </a>
        </div>

        <br>

        <div class="card bg-danger" id="card1">
            <br>
            Who we are..?
            <br>
            <br>
        </div>
        <br>

        <div class="row">

            <div class="col col-md-8">
                <p id="wel">



                    <br>
                    DQnte MALAPPURAM is a online promotion team based in Malappuram District,Kerala.
                    it was established in 2018 to promote the movies of Mollywood Actor Dulquer Salmaan.

                </p>


            </div>

            <div class="col col-md-4">
                <img src="/static/logo1.png" alt="" class="responsive">


            </div>
        </div>
    </div>
        <footer>
            <br>
            Contact Us:
            <br>
            mail:dqntemalappuram@gmail.com
            <br>
            whatsapp:+919567399012
            <br>
            <br>
        </footer>


</body>

</html>