 <body>  
    <div class="container-fluid">

            <br>

            <div class="card bg-danger" id="card1">
                    <br>
                        Welcome to DQnte MALAPPURAM
                    <br>
                    <br>
                    </div>
                    <br>



        <div id="demo" class="carousel slide" data-ride="carousel">

           
            <ul class="carousel-indicators">
                <li data-slide-to="0" class="active"></li>
                <li data-slide-to="1"></li>
                <li data-slide-to="2"></li>
            </ul>

            
            <div class="carousel-inner">
                <div class="carousel-item active">
                    <img src="30k.jpg" alt="" class="img-fluid">
                </div>
                <div class="carousel-item">
                    <img src="poster.jpg" alt="" class="img-fluid">
                </div>
                <div class="carousel-item">
                    <img src="release.jpg" alt="" class="img-fluid">
                </div>
            </div>

            
            <a class="carousel-control-prev" href="#demo" data-slide="prev">
                <span class="carousel-control-prev-icon"></span>
            </a>
            <a class="carousel-control-next" href="#demo" data-slide="next">
                <span class="carousel-control-next-icon"></span>
            </a>
        </div>

<br>

<div class="card bg-danger" id="card1">
        <br>
        Who we are..?
        <br>
        <br>
        </div>
        <br>

<div class="row">

    <div class="col col-md-8">
        <p id="wel">



<br>
            DQnte MALAPPURAM is a online promotion team based in Malappuram District,Kerala.
            it was established in 2018 to promote the movies of Mollywood Actor Dulquer Salmaan.
           
        </p>


    </div>

    <div class="col col-md-4">
            <img src="logo1.png" alt="" class="responsive">
    
    
        </div>
</div>


        <div class="row" id="lar">


            <div class="col col-sm|md|lg|xl-3">
                <br>
                Follow Us on

                <img src="insta.png" alt="" class="img-fluid">

            </div>

            <div class="col col-sm|md|lg|xl-3">
                <br>
                <p id="lef">Contact</p>
                <br>

                <br>
                <br>

                mail:dqntemalappuram@gmail.com

            </div>


            <div class="col col-sm|md|lg|xl-3">
                <br>
                <p id="rig">Us</p>

                <br>
                <br>
                <br>
                whatsapp:9567399012

            </div>

            <div class="col col-sm|md|lg|xl-3">
                <br>
                Subscribe Us on

                <img src="you1.png" alt="" class="img-fluid">

            </div>
        </div>


    </div>
</body>